@import 'mixins';

.menu-mobile {
    background-color: #1A1A1A;
    position: fixed;
    top: 103px;
    bottom: 0;
    left: 100vw;
    right: -100vw;
    padding: 16px;
    transition: 200ms;

    &.opened {
        left: 0;
        right: 0
    }

    &.opened-submenu {
        left: -100vw;
        right: 100vw
    }

    &__secondary {
        @include font-style(18px, 700, 2);
        margin-top: 40px;
        color: #FFFFFF;
    }
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-areas: "big big cta"
                         "... ... ..."
                         "... ... ..."
                         "... ... ...";

    &__item {
        background-color: #FFFFFF;

        &--cta {
            grid-area: cta;

        }

        &--big {
            grid-area: big;

        }
    }
}

.item-grid {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    align-items: center;

    padding: 8px;
    height: 100%;

    &--cta {
        background-color: #FBBC04;
    }

    &--big &__icon {
        @include font-style(50px);
    }

    &__icon {
        @include font-style(40px);
        margin: 4px;
    }

    &__text {
        @include font-style(11px, 700);
        margin: 4px;
        text-align: center;
        text-transform: uppercase;
    }
}

.submenu-mobile {
    background-color: #1A1A1A;
    position: fixed;
    top: 103px;
    bottom: 0;
    left: 100vw;
    right: 0;
    padding: 16px;
    transition: 200ms;
    color: #FFFFFF;

    &.opened-submenu {
        left: 0;
    }

    & > ul {
        @include font-style(18px, 700, 2);
    }

    & > ul:before{
        content:attr(aria-label);
        @include font-style(16px, 700, 2);
        text-transform: uppercase;
        opacity: 35%;
    }
}

.back-menu {
    @include font-style(18px, 700, 2);
    color: #2196F3;
    margin-bottom: 32px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-align-items: center;
    align-items: center;

    &__icon {
        rotate: 180deg;
        margin-right: 8px;
    }
}