// --------------------------------------------------
// Font style mixins
// --------------------------------------------------

@mixin font-style($size: 14px, $weight: 400, $height: auto){
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}