@import 'reset';
@import 'mixins';

body {
    font-family: 'Roboto', sans-serif;
    @include font-style(15px, 400);

    &.blocked {
        overflow: hidden;
    }
}

header {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 99;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

// HEADER section

.promotions {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;

    -webkit-align-items: center;
    align-items: center;

    padding: 8px 16px;
    background-color: #1A1A1A;
    color: #FFFFFF;

    &__icon {
        color: #FBBC04;
        margin-left: 8px;
        @include font-style(12px);
    }
    
    &__text {
        @include font-style(12px, 700);

        &--important {
            color: #FBBC04;
        }
    }
}

.header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-justify-content: space-between;
    justify-content: space-between;

    -webkit-align-items: center;
    align-items: center;

    padding: 8px 16px;
}

.logoTenvinilo {
    width: 48px;
    height: 48px;
    margin: 4px;
}

.menu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-align-items: center;
    align-items: center;
    
    &__item {
        font-size: 30px;
        margin: 0 8px;
        cursor: pointer;
    }

    &--bottom {
        background-color: rgba(255, 255, 255, 0.8);;
        height: 72px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;

        -webkit-justify-content: center;
        justify-content: center;

        li {
            width: 25%;
        }

        p {
            @include font-style(11px, 500);
            margin: 4px 8px;
        }
    }
}

.hamburger-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 1px;
    margin-right: 0;

    &__stick {
        display: block;
        background-color: #1A1A1A;
        width: 24px;
        transition: all 300ms ease-in-out;
        /* The following 2 properties are essential in creating the "X" when the hamburger is clicked. If you change just 1 of the 2, then you need to find the proper combination for the other one */
        height: 2px;
        margin: 6px auto;
    }

    &.active {
        background-color: #1A1A1A;
    }

    &.active &__stick:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color:#FFFFFF;
    }

    &.active &__stick:nth-child(2) {
        opacity: 0
    }
    
    &.active &__stick:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: #FFFFFF;
    }
}

// MAIN section

.menu-mobile {
    background-color: #1A1A1A;
    position: fixed;
    top: 103px;
    bottom: 0;
    left: 100vw;
    right: -100vw;
    padding: 16px;
    transition: 200ms;

    &.opened {
        left: 0;
        right: 0
    }

    &.opened-submenu {
        left: -100vw;
        right: 100vw
    }

    &__secondary {
        @include font-style(18px, 700, 2);
        margin-top: 40px;
        color: #FFFFFF;
    }
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-areas: "big big cta"
                         "... ... ..."
                         "... ... ..."
                         "... ... ...";

    &__item {
        background-color: #FFFFFF;

        &--cta {
            grid-area: cta;

        }

        &--big {
            grid-area: big;

        }
    }
}

.item-grid {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    align-items: center;

    padding: 8px;
    height: 100%;

    &--cta {
        background-color: #FBBC04;
    }

    &--big &__icon {
        @include font-style(50px);
    }

    &__icon {
        @include font-style(40px);
        margin: 4px;
    }

    &__text {
        @include font-style(11px, 700);
        margin: 4px;
        text-align: center;
        text-transform: uppercase;
    }
}

.submenu-mobile {
    background-color: #1A1A1A;
    position: fixed;
    top: 103px;
    bottom: 0;
    left: 100vw;
    right: 0;
    padding: 16px;
    transition: 200ms;
    color: #FFFFFF;

    &.opened-submenu {
        left: 0;
    }

    & > ul {
        @include font-style(18px, 700, 2);
    }

    & > ul:before{
        content:attr(aria-label);
        @include font-style(16px, 700, 2);
        text-transform: uppercase;
        opacity: 35%;
    }
}

.back-menu {
    @include font-style(18px, 700, 2);
    color: #2196F3;
    margin-bottom: 32px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-align-items: center;
    align-items: center;

    &__icon {
        rotate: 180deg;
        margin-right: 8px;
    }
}

main {
    width: 100vw;
    padding: 0 16px;
}

.content {
    width: 100%;
    height: 220px;
    margin: 8px 0;
    background-color: #dbdbdb;
    opacity: .7;
}

h1 {
    @include font-style(28px, 700);
    text-align: center;
    margin: 32px 0 8px;
}

h4 {
    @include font-style(15px, 400);
    text-align: center;
    margin: 4px 0 16px;
}